.heading {
    background-color: #ffffff;
}

h1 {
    background-color:#4aaaa5;
    color: white;
    padding: 10px;
    width: 200px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    Position: relative;
    top: 60px;
    left: 150px;
    text-align: center;
    border: solid;
    border-color: #cccccc;
}

.About {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}

.Portfolio {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}

.Contact {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}

.container {
    position: absolute;
    width: 700px;
    left: 150px;
    top: 300px;
    padding: 130px;
    background-color: #ffffff;
    
}

#h2 {
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 130px;
    float: left;
}

#line {
    width: 700px;
    height: 3px;
    background-color: lightgrey;
    position: absolute;
    top: 110px;
    left: 130px;
}

.name {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: grey;
}
.box1 {
    width: 700px;
    height: 30px;
    background-color: white;
    border-color:lightgrey;
    border-style: solid;
    color: darkgrey;
}

.box2 {
    width: 700px;
    height: 30px;
    background-color: white;
    border-color:lightgrey;
    border-style: solid;
    padding-top: 100px;
}

.footer {
    background-color:#666666;
    padding:30px;
    border-top-color: #4aaaa5;
    border-top-style: solid;

}