.heading {
    background-color: #ffffff;
}

h1 {
    background-color:#4aaaa5;
    color: white;
    padding: 10px;
    width: 200px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    Position: relative;
    top: 60px;
    left: 150px;
    text-align: center;
    border: solid;
    border-color: #cccccc;
}

.About {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}

.Portfolio {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}


.Contact {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 10%;
    color: lightgrey;
    margin-bottom: 20px;
}

.container {
    position: absolute;
    width: 700px;
    left: 150px;
    top: 300px;
    padding: 130px;
    background-color: #ffffff;  
    border-color: lightgrey; 
}

#h2 {
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 130px;
    float: left;
}

#line {
    width: 700px;
    height: 3px;
    background-color: lightgrey;
    position: absolute;
    top: 110px;
    left: 130px;
}

.banner {
    background-color: #4aaaa5;
    width: 250px;
    height: 40px;
    color: white;
    position: relative;
    top: -40px;
    font-size: 18px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.chess {
    padding: 15px;
}

.monopoly {
    padding: 15px;
}

.cards {
    padding: 15px;
}

.catan {
   float: right;
   position: absolute; 
   right: 150px;
   top: 420px;

}

.go {
    position: absolute;
    top: 142px;
    right: 150px;
    float: right;
}

.footer {
    background-color:#666666;
    padding:30px;
    border-top-color: #4aaaa5;
    border-top-style: solid;

}
